$accent: hsl(26, 100%, 55%);
$accent-pale: hsl(25, 100%, 94%);

$dark: hsl(220, 13%, 13%);
$muted-dark: hsl(219, 9%, 45%);
$muted-light: hsl(220, 14%, 75%);
$light: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$black-75: hsl(0 0% 0% / 0.75);

$b-rad: 0.5rem;
$bp-md: 35rem;
$bp-lg: 62rem;
$bp-xl: 70rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    background: $white;
    color: $dark;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.overlay {
    display: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
}
@media(min-width: $bp-md) {
    .container {
        width: 80%;
        max-width: 38rem;
    }
}
@media(min-width: $bp-lg) {
    .container {
        width: 90%;
        max-width: 69.125rem;
    }
}
@media(min-width: $bp-xl) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $black-75;
        z-index: 15;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
        align-items: start;
        justify-content: center;
    }
    .modal-close {
        justify-self: end;
        align-self: end;
        padding: 0.4rem 0.2rem;
        path {
            transition: all 0.4s ease;
        }
        &:hover path {
            fill: $accent;
        }
    }
}
